<div class="raml-console-auth-form-container">
  <div class="raml-console-token-auth-form" ng-show="showAuthForm">
    <form name="form" novalidate>
      <basic-auth credentials='credentials'></basic-auth>
      <div class="raml-console-auth-form-btns">
        <button type="button" ng-click="startAuth($event)" class="raml-console-get-tokens raml-console-sidebar-action raml-console-sidebar-action-get">Auth</button>
        <button type="button" ng-click="hideForm()" class="raml-console-get-tokens raml-console-sidebar-action raml-console-sidebar-action-delete">Cancel</button>
      </div>
    </form>
  </div>

  <div class="raml-console-tokens-error" ng-show="formError">
    <span class="raml-console-close" ng-click="hideError()"><span>x</span></span>
    {{ formError }}
  </div>

</div>
