.vbs-tokens-container {
  position: absolute;
  right: 120px;

  .get-tokens {
  }

  .token-auth-form {
    float: right;
    background: #FFF;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 50px;
    width: 300px;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #CCC;

    .auth-form-btns {
      margin-top: -15px;
      padding: 0 16px 16px;
    }
  }
}
